<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/STRESS RESPONSE PROTEINS ">
        <!-- <img src="/static/img/logo.ico" width="30" height="30" class="d-inline-block align-top" alt=""> -->
        <i>STRESS RESPONSE PROTEINS </i>
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a class="nav-item nav-link active" href="/STRESS RESPONSE PROTEINS /pred">Prediction</a></li>
        <li><a class="nav-item nav-link" href="/STRESS RESPONSE PROTEINS /cite">Citaion</a></li>
        <li><a class="nav-item nav-link" href="/STRESS RESPONSE PROTEINS /supl">Suplemantry Data</a></li>
        <li><a class="nav-item nav-link" href="/STRESS RESPONSE PROTEINS /about">About</a></li>
      </ul>
    </div>
  </div>
</nav>
