{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron text-center">
    <h1><b>Proteins</b></h1>
    <p class="lead" style="text-align: justify;">
        Proteins are large bio-molecules, or macro-molecules, consist of one or more long chains of amino acid
        residues. 50% of the dry weight of humans is protein. Up to 92% of the dry weight of the red blood cell is a
        single protein called hemoglobin which transports oxygen in the human body. Proteins consist of many
        different amino acids that are linked together. There are twenty distinct building blocks of these amino
        acids commonly found in plants and animals which make protein. A typical protein is composed of 300 or more
        amino acids, and each protein is unique in the specific number and sequence of amino acids. The amino acid
        'letters' can be arranged in millions of different ways to create 'words' and a whole protein 'language'
        rather than the alphabet is. The resulting protein will fold into a particular shape, based on the number
        and sequence of the amino acids. This form is very important because it will determine the function of
        the protein like muscle construction, DNA transcription RNA translation, and structural functions, etc.
    </p>
</div>


{% endblock %}