<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>STRESS RESPONSE PROTEINS Sequences</title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet" />

  <link type="text/css" rel="stylesheet" href="static/style.css" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <style type="text/css">
    #nav {
      margin-top: 15px;
      padding: 5px;
      background-color: #757A7C;
      color: #fff;
    }

    #nav ul {
      padding: 2px;
      list-style: none;

    }

    #nav li {
      display: inline;
    }

    #nav a {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      padding-right: 15px;
    }
  </style>



</head>

<body>

  <nav id="nav">
    <div class="container">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="srp">SR Proteins</a></li>
        <li><a href="server">Server</a></li>
        <li><a href="sample">SampleData</a></li>
      </ul>
    </div>
  </nav>




  <div class="container" style="padding-top: 70px" ;>
    {% block body %}{% endblock %}
  </div>

  <!-- <footer id="main-footer">
    <p>
      copyright &copy; 2020 My Website01
    </p>
  </footer> -->

</body>

</html>