{% extends 'layout.html' %}

{% block body %}
<style>
    .dataa {
        width: 100%;
        padding: 10px;
        border: 2px solid gray;
        margin: 0;
        overflow: scroll;
    }

    .hed {
        text-align: center;
    }
</style>

<script>

</script>

<h1 class="hed">Sample Data</h1>
<hr>
<font size="4" face="Courier, Pica, Monospace"></font>

<h1>Stress Response Proteins (Positive)</h1></br>

<div class="dataa">
    >MAQQQMTSSQKALMLELKSLQEEPVEGFRITLVDESDLYNWEVAIFGPPNTLYEGGYFKAHIKFPIDYPYSPPTFRFLTKMWHPNIYENGDVCISILHPPVDDPQSGELPSERWNPTQNVRTILLSVISLLNEPNTFSPANVDASVMFRKWRDSKGKDKEYAEIIRKQVSATKAEAEKDGVKVPTTLAEYCIKTKVPSNDNSSDLLYDDLYDDDIDDEDEEEEDADCYDDDDSGNEES<br>
    >MGLLPKLGASQGSDTSTSRAGRCARSVFGNIKVFVLCQGLLQLCQLLYSAYFKSSLTTIEKRFGLSSSSSGLISSLNEISNAILIIFVSYFGSRVHRPRLIGIGGLFLAAGAFILTLPHFLSEPYQYTLASTGNNSRLQAELCQKHWQDLPPSKCHSTTQNPQKETSSMWGLMVVAQLLAGIGTVPIQPFGISYVDDFSEPSNSPLYISILFAISVFGPAFGYLLGSVMLQIFVDYGRVNTAAVNLVPGDPRWIGAWWLGLLISSALLVLTSFPFFFFPRAMPIGAKRAPATADEARKLEEAKSRGSLVDFIKRFPCIFLRLLMNSLFVLVVLAQCTFSSVIAGLSTFLNKFLEKQYGTSAAYANFLIGAVNLPAAALGMLFGGILMKRFVFSLQAIPRIATTIITISMILCVPLFFMGCSTPTVAEVYPPSTSSSIHPQSPACRRDCSCPDSIFHPVCGDNGIEYLSPCHAGCSNINMSSATSKQLIYLNCSCVTGGSASAKTGSCPVPCAHFLLPAIFLISFVSLIACISHNPLYMMVLRVVNQEEKSFAIGVQFLLMRLLAWLPSPALYGLTIDHSCIRWNSLCLGRRGACAYYDNDALRDRYLGLQMGYKALGMLLLCFISWRVKKNKEYNVQKAAGLI<br>
    >MADIKFRPLHDRVVVRRVESEAKTAGGIIIPDTAKEKPQEGEVVAAGAGARDEAGKLVPLDVKAGDRVLFGKWSGTEVKIGGEDLLIMKESDILGIVG<br>
    >MRFDKLTTKFQQALADAQSLAARNDHPYIEPVHVLAALLGDPDSGAASLLARAGVAVNRVQPAIDSALKGLPQVQGEDNVQVGRELQSVLVRTDKEAARRGDTYIASELFLLALADDKGDAGRILREAGLQKKALEAAIDAVRGGENVSGAEGESNREALSKYTLDLTERARQGKLDPVIGRDDEIRRTIQILQRRTKNNPVLIGEPGVGKTAIVEGLAQRIVNDEVPETLRGKRVLSLDLAALLAGAKFRGEFEERLKAVLKELAQDDGQNIVFIDELHTMVGAGKAEGAMDAGNMLKPALARGELHCIGATTLDEYRKYIEKDAALERRFQKVLVGEPDVESTIAILRGLQERYELHHGVEITDPAIVAAAELSHRYITDRFLPDKAIDLIDEAGARIRMEIDSKPEVMDRLDRRIIQLKIEREAVKKETDDASMRRLAVIEEELEKLQREYNDYEEIWKAEKAAVQGTQAIKEEIDRVRAEMAELQRKGQFDKLAELQYGKLPELEARLKAADSAEREAGESDSGKPRLLRTQVGAEEIAEVVSRATGIPVAKMMQGERDKLLRMEDFLHKRVVGQDEAVRLVSDAIRRSRAGLADPSRPYGSFLFLGPTGVGKTELTRALADFLFDSEEHMIRIDMSEFMEKHSVARLIGAPPGYVGYEEGGYLTEAVRRKPYSVILLDEVEKAHPDVFNVLLQVLDDGRLTDGQGRTVDFRNTVIVMTSNLGSQHIQSMAGKPYEVIKEVVWDELKHTFRPEFLNRIDEVVVFHGLEAQHIESIARIQLKRLGERLEKQEMRLDVSDAALAEIARSGFDPVFGARPLKRAIQQQIENPVAKLILEGVFGPRDVVPVDWQDGKFVFTRTLQ<br>
    >MLKPLGDRVVLKFEAEKEQTVGGFVLAASHKEATKVGTVVAVSETGIRTITGDIVPPSVAVGDKVLVEYGSGLEVKDGDQELVICREADILAVLA<br>
    >MYRLISSIASKARVARNCTSQIGSRLSSTRNYAAKDIRFGVEGRALMLRGVEELADAVKVTIPPKGRNVIIEQSWGAPKVTKDGVTVAKSIEFKDRVKNVGASLVKQVANRPTQLNRCLGDGTTCATVLTRAIFTEGCKSVAAGMNAMDLRRGIKLAVDTVVTKLKSRARMISTSEEIAQVGTISANGDRELVTDCKAMESVGKEGVITIQDGKTLFNELEVVEGMKIDRGYISPYFITNQKNQKCELEDPLILIHEKKISNLNSMVKVLELALKSQRSLLIVAADLESDALAVLILNKLRAGIKVCAVKAPGFGENRKANMHDLATLTGAQVITEELGMNLEKIDLSMLGNCKKITVSKDDTVFLGWGAGDKKAIGERCEQIRSMVEASESDYDKEKLQERLAKLSGGVAVLKIGGASESEVGEKKDRVTDALNATKAAVEEGIVPGGGVALLYASKELDKLSTANFDHKIGVQIIQNALKTPVYTIASNAGVEGAVIVGKLLESDNPDLGYDAAKGEYVDMVKSGIIDPVKVIRTALVDAASVSSLLTTTEAVVTEIPTKEDASPAMGGGGGGMGGMGGMGGMGF<br>
    >MPQPSVSGMDPPFGDAFRSHTFSEQTLMSTDLLANSSDPDFMYELDREMNYQQNPRDNFLSLEDCKDIENLESFTDVLDNEGALTSNWEQWDTYCEDLTKYTKLTSCDIWGTKEVDYLGLDDFSSPYQDEEVISKTPTLAQLNSEDSQSVSDSLYYPDSLFSVKQNPLPSSFPGKKITSRAAAPVCSSKTLQAEVPLSDCVQKASKPTSSTQIMVKTNMYHNEKVNFHVECKDYVKKAKVKINPVQQSRPLLSQIHTDAAKENTCYCGAVAKRQEKKGMEPLQGHATPALPFKETQELLLSPLPQEGPGSLAAGESSSLSASTSVSDSSQKKEEHNYSLFVSDNLGEQPTKCSPEEDEEDEEDVDDEDHDEGFGSEHELSENEEEEEEEEDYEDDKDDDISDTFSEPGYENDSVEDLKEVTSISSRKRGKRRYFWEYSEQLTPSQQERMLRPSEWNRDTLPSNMYQKNGLHHGKYAVKKSRRTDVEDLTPNPKKLLQIGNELRKLNKVISDLTPVSELPLTARPRSRKEKNKLASRACRLKKKAQYEANKVKLWGLNTEYDNLLFVINSIKQEIVNRVQNPRDERGPNMGQKLEILIKDTLGLPVAGQTSEFVNQVLEKTAEGNPTGGLVGLRIPTSKV<br>
    >MNPDNFTHKTNEALVAAHEIASEAGHAQLTPLHLVAALAADKGGILRQAISQASGGDAGAPDSFERVVSGALKKLPSQSPPPDSVPASTALIKVIRRAQSAQKKRGDSHLAVDQLLLGLLEDSLISDCLKEAGVSAARVRAELEKLRGGEGRKVESASGDTNFQALKTYGRDLVEQAGKLDPVIGRDEEIRRVVRILSRRTKNNPVLIGEPGVGKTAVVEGLAQRIVRGDVPSNLLDVRLIALDMGALVAGAKYRGEFEERLKAVLKEVEEAEGKVILFIDEIHLVLGAGRTEGSMDAANLFKPMLARGQLRCIGATTLEEYRKYVEKDAAFERRFQQVFVAEPSVPDTISILRGLKEKYEGHHGVRIQDRALVVAAQLSARYIMGRHLPDKAIDLVDEACANVRVQLDSQPEEIDNLERKRIQLEVEHHALEKEKDKASKARLVEVKKELDDLRDKLQPLTMKYRKEKERIDEIRKLKQRREELQFTLQEAERRMDLARVADLKYGALQEIDVAIAKLESETGENLMLTETVGPEQIAEVVSRWTGIPVTRLGQNDKERLVGLADRLHQRVVGQAEAVSAVAEAVLRSRAGLGRPQQPTGSFLFLGPTGVGKTELAKALAEQLFDDENLLVRIDMSEYMEQHSVARLIGAPPGYVGHEEGGQLTEQVRRRPYSVILFDEVEKAHVAVFNTLLQVLDDGRLTDGQGRTVDFRNTVIIMTSNLGAEHLLAGMVGKNSMKVARDLVMQEVRRHFRPELLNRLDEIVIFDPLSHEQLRKVARLQMKDVAVRLAERGVALAVTDAALDVILSLSYDPVYGARPIRRWIEKRVVTQLSKMLIQEEIDENCTVYIDAAPHKDELAYRVDNRGGLVNAETGQKSDILIQVPNGAATGSDAAQAVKKMRIMEDEDGMDEE<br>
    <br>
</div>
<br>

<h1>Stress Response Proteins (Negative) </h1></br>
<div class="dataa">
    >KDEDRYTHFLTQHYDAKPKGRDGRYCESIMKQRGLTRPCKEVNTFIHGTRNDIKAICNDKNGEPYNNFRRSKSPFQITTCKHKGGSNRPPCGYRATAGFRTIAVACENGLPVHFDESFIITSQ<br>
    >MAPTPLFLLLLLTGVTAEPAHPGYAEGDGSSCDVAAVAVAERREEFDGGRIVDISHYYREEMPEWESADGTGGGFLRLVRSMRNGSDIANFSELRLTAHSGTHVDAPGHVFDHYYHAGFDVDTLDLAILNGPALLVDVPRDSNITANVMESLHIPKGVRRVLFRTLNTDRKLMWKKEFDTSYVGFMKDGAQWLIDNTDIRLVGVDYLSVGAFDECIPAHLVFLEKREVILVEALHLEHVTPGIYTLHCLPLRLRGSEGSPARCILIK<br>
    >MQKMSEKPLYRAAENPTRNADRRAGRFEEEELISKTGRHPDMVIQFQDDADDQHTSHYEGNWRHYFHKKLHIKNRLIRDWLSESLAMFLFMSLLLGGAATAHFTGKQDDPMLTAVFHGFSAVFGIYVGAGVSGGIINPALTFAVALLGRVSWRKCLVLVSAQYFGSFIASAVVYLIYYESLQNYAKTADDNGEFLQKTAGIWSTFPKPYLSMTGAIFNQIFCTMLLSIGFLSISDHKNFRPTKGLFPFAVGLLIMTVFLAFSYSAGAAMNPARDLSPRLWSLIIGYGNEVFSHNDYKWFWIPWLFPYVGALFGAVMYQIFVGVHWPDKQSTKR<br>
    >MVSRKRNSVIYRFASLLLVLMLSACSALQGTPQPAPPVTDHPQEIRRDQTQGLQRIGSVSTMVRGSPDDALAEIKAKAVAAKADYYVVVMVDETIVTGQWYSQAILYRK<br>
    >GSGNFGVAKLVRDVRTKEHFAVKFIERGHKIDEHVQREIMNHRSLKHPNIIRFKEVVLTPTHLAIVMEYASGGELFQRICNAGRFSEDEGRFFFQQLISGVSYCHSMQVCHRDLKLENTLLDGSVAPRLKICDFGYSKSSVLHSQPKSTVGTPAYIAPEVLSRREYDGKVADVWSCGVTLYVMLVGAYPFEDPDEPRNFRKTITRILSVQYSVPDYVRVSMDCIHLLSRIFVGNPQQRITIPEIKNHPWFLKRLPVEMTDEYQRSMQLADMNTPSQSLEEAMAIIQEAQKPGDNALGVAGQVACLGSMDLDDIDFDIDDIDVESSGDFVCPL<br>
    >MRCKTLTAAAAVLLMLTAGCSTLERVVYRPDINQGNYLTANDVSKIRVGMTQQQVAYALGTPLMSDPFGTNTWFYVFRQQPGHEGVTQQTLTLTFNSSGVLTNIDNKPALSGN<br>
    >MDPLSSVQPASYVGFDTITNQIEHRLLKKGFQFNIMVVGQSGLGKSTLINTLFASHLIDSATGDDISALPVTKTTEMKISTHTLVEDRVRLNINVIDTPGFGDFIDNSKAWEPIVKYIKEQHSQYLRKELTAQRERFITDTRVHAILYFLQPNGKELSRLDVEALKRLTEIANVIPVIGKSDTLTLDERTEFRELIQNEFEKYNFKIYPYDSEELTDEELELNRSVRSIIPFAVVGSENEIEINGETFRGRKTRWSAINVEDINQCDFVYLREFLIRTHLQDLIETTSYIHYEGFRARQLIALKENANSRSSAHMSSNAIQR<br>
    >MAKWGEGDPRWIVEERADATNVNNWHWTERDASNWSTDKLKTLFLAVQVQNEEGKCEVTEVSKLDGEASINNRKGKLIFFYEWSVKLNWTGTSKSGVQYKGHVEIPNLSDENSVDEVEISVSLAKDEPDTNLVALMKEEGVKLLREAMGIYISTLKTEFTQGMILPTMNGESVDPVGQPALKTEERKAKPAPSKTQARPVGVKIPTCKITLKETFLTSPEELYRVFTTQELVQAFTHAPATLEADRGGKFHMVDGNVSGEFTDLVPEKHIVMKWRFKSWPEGHFATITLTFIDKNGETELCMEGRGIPAPEEERTRQGWQRYYFEGIKQTFGYGARLF<br>
    <br>
</div>
<br>
<button class="btn btn-primary" style="margin-bottom: 3%;" onclick="history.back()">Back</button>

{% endblock %}