{% extends 'layout.html' %}

{% block body %}


<div class="jumbotron text-center">
    <h1><b>Stress Response Proteins</b></h1>
    <p class="lead" style="text-align: justify;">
        The terminology of “Stress” has been first coined in 1936 to define the interaction between a force and the
        résistance to counter that force. “Hans Selye” the founder of stress theory described stress as the
        nonspecific response of any demand upon a body. Stress proteins are primary mediators of several cellular
        stress responses and are subdivided into two categories based on their mechanism of action. One group of
        these stress proteins is activated only under cellular stressed conditions whereas others function in both,
        stressed and normal cellular functions, enhancing cell survival. These proteins were found to be
        conserved across many eukaryotic and prokaryotic linkages and demonstrate varied functional activities
        inside a cell. For instance, mutations in DNA encoding stress proteins of Drosophila hindered with the
        mitotic division and proteasome-mediated protein degradation, affecting their survival at elevated
        temperatures. Classical examples of stress proteins include heat shock proteins or molecular chaperones that
        help to repair cellular damage. Moreover, Chaperons can significantly alter disease progression in
        the case of chronic injuries, DNA damage, and age-related cellular dysfunction. Their tissue specificity
        and selective induction exhibit their potential evolution through micro-environmental changes despite their
        ubiquity in all organisms.
    </p>
</div>


{% endblock %}